* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-family: 'Jost', sans-serif; 
}

.fondoInicio{
    background-image: url(../imagenes/fondo-cancha.jpg);
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.banner-vs{
    width: 50%;
}

h2, h3{
    color:white;
}

#boton-iniciar{
    height: 50%;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

p{
    margin-bottom: 0;
}

.contenido{
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards-disponibles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cards-disponibles li{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    list-style: none;
    padding: 0.3rem;
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#cards-mis-jugadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cards-mis-jugadores li{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.3rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#cards-mis-jugadores img, #cards-disponibles img{
    width: 90px;
    height: 90px;
    border-radius: 0.4rem;
}
.contenedor-dinero{
    border-radius: 1rem;
}

#dinero-disponible{
    font-size: 1.5rem;
}

button{
    background-color: rgb(133, 159, 253);
    border-radius: 1rem;
}

#jugadores-locales, #jugadores-visitantes{
    background: rgba(0, 0, 0, 0.596);
}

.contenedor-partido{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 1rem;
    color: white;
}
.contenedor-partido li{
    padding: 0.5rem;
}

#jugadores-locales img, #jugadores-visitantes img{
    justify-content: flex-end;
    height: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 2rem;
}
#puntos-locales li, #puntos-visitantes li{
    padding-top: 1.7rem;
    padding-bottom: 1.8rem;
    background: rgba(0, 0, 0, 0.823);
}

#puntos-fecha-locales, #puntos-fecha-visitantes{
    background-color: red;
}

@media only screen and (max-width: 480px) {
    .seccion-disponibles {
        min-height: 360px ;
    }
    
    #cards-mis-jugadores img, #cards-disponibles img{
        width: 70px;
        height: 70px;
    }

    #cards-disponibles li, #cards-mis-jugadores li{
        font-size: 0.8rem;
    }

}