* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-family: 'Jost', sans-serif; 
}

#fondo-inicio{
    background-image: url(../imagenes/fondo-cancha.jpg);
    min-height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#dinero-disponible{
    padding: 0.5rem;
}

.banner-vs{
    width: 50%;
}

h2, h3{
    color:white;
}

#subtitulo-dinero-disponible h4{
    padding: 0.5rem;
}

#boton-iniciar{
    height: 50%;
    padding: 0.8rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    background: rgb(253, 41, 41);
}

p{
    margin-bottom: 0;
}

.contenido{
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards-disponibles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cards-disponibles li{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    list-style: none;
    padding: 0.3rem;
    background-color: rgba(255, 255, 255, 0.652);
    border: 2px solid black;
    border-radius: 0.5rem;
}

#boton-iniciar:hover{
    background-color: rgb(170, 17, 17);
}

button:hover{
    background-color:rgb(27, 27, 138);
}

.contenedor{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

#cards-mis-jugadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cards-mis-jugadores li{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.3rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.652);
    border: 2px solid black;
    border-radius: 0.5rem;
}

#cards-mis-jugadores img, #cards-disponibles img{
    width: 90px;
    height: 90px;
    border-radius: 0.4rem;
}
#contenedor-dinero{
    background: rgba(2, 2, 2, 0.803);
    color: white;
    padding: 0.6rem;
}

#dinero-disponible{
    font-size: 1.5rem;
}

.animacionBanner{
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}

.animacionTexto{
    animation: animacionTexto 4s linear 0s infinite normal forwards;
}

@keyframes animacionTexto {
	0%,
	50%{
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

button{
    background-color: rgb(17, 47, 182);
    color: white;
    border-radius: 1rem;
    padding: 0.4rem;
}

#jugadores-locales, #jugadores-visitantes{
    background: rgba(0, 0, 0, 0.596);
}

#contenedor-iniciar-partido{
    padding-top: 1rem;
}

#contenedor-partido{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 1rem;
    color: white;
}
#contenedor-partido li{
    padding: 0.5rem;
}

#contenedor-puntos-fecha{
    display: flex;
    justify-content: center;
    padding: 0 1rem 0.4rem 1rem;
}

#jugadores-locales img, #jugadores-visitantes img{
    justify-content: flex-end;
    height: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 2rem;
}

#puntos-locales li, #puntos-visitantes li{
    padding-top: 1.2rem;
    padding-bottom: 1.4rem;
    background: rgba(0, 0, 0, 0.823);
}

#ganador{
    display: flex;
    justify-content: center;
}

#ganador img{
    width: 30%;
}

#puntos-fecha-locales, #puntos-fecha-visitantes{
    padding: 0 1.2rem 0 1.2rem;
    font-size: 1.5rem;
    color: white;
    background-color: black;
}

#contenedor-siguiente-partido, #contenedor-boton-estadisticas, #contenedor-estadisticas{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

#seccion-estadisticas{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor-estadisticas{
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.823);
    width: 50%;
    border-radius: 1rem;
}

#contenedor-estadisticas p, #contenedor-estadisticas h2{
    padding: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
}

#contenedor-estadisticas h2{
    font-size: 1.5rem;
}

#reiniciar-torneo{
    margin-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
    
    #cards-mis-jugadores img, #cards-disponibles img{
        width: 70px;
        height: 70px;
    }

    #cards-disponibles li, #cards-mis-jugadores li{
        font-size: 0.8rem;
    }

    #boton-iniciar h5{
        font-size: 0.8rem;
    }

    #jugadores-locales img, #jugadores-visitantes img{
        height: 4rem;
    }

    #siguiente-partido{
        padding: 0.3rem;
        margin-top: 0.8rem;
    }

    #ganador img{
        width: 100%;
    }

    #contenedor-estadisticas{
        width: 100%;
    }
}